fastapi
uvicorn[standard]
mysql-connector-python
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
speechrecognition
pydub
gTTS
googletrans==4.0.0-rc1
python-multipart
reportlab
bcrypt==4.1.2
SpeechRecognition
redis
